
                                                                                                                                 /*CAMPO DO HEADER*/
                                                                                                                    


header{
    background-color:#d8d8d8;
    padding: 20px 0; /*espaçamento topo e baixo 20px - e zero para esquerda pra direira - pra que tudo dentro dele fica nesse limite n rela na margem*/
}

body{

    font-family: 'Sarala', sans-serif;
    
} 

.caixa{
    position: relative; /*Para o menu esta dentro da caixa (consigo ver inspecionando) coloco position: relative*/
    width: 940px; /* Largura 940 a 1260 esta em uma boa margem de largura*/
    margin: 0 auto; /*Para a margem da esquerda esta igual da esquerda = centralizar*/
}

nav{
    position:absolute;  /*Eu consigo posicionar meu elemento em qualquer lugar da página*/
    top: 150px; /*A imagem tem 250px de altura pra deixar as palavra no meio vamos deixar uns 110*/
    right: 0;  /*Direita igual a zero*/
    
}

nav li{
    display: inline; 
    margin-right: 15px; /*Espaçamento externo a direita*/ /*Coloquei margin aqui inves de por no (nav a) porque la aumentaria o espaçamento do conteudo*/
}

nav a{
    text-transform: uppercase; /*As palavras em maiusculo*/
    color: #000000;
    font-weight: bold; /*Peso da fonte em negrito*/
    font-size: 22px;   /*Tamamho da fonte*/
    text-decoration: none; /*Tirar o sublinhado das palavras*/
 }

 nav a:hover{
    color: #4682B4;
    text-decoration: underline; /*Quando passo a mão em cima dos elementos ele fica com sublinhado embaixo*/ 
    cursor: pointer; /*deixar a mãozinha ao clicar ao invés de seta*/
}

                                                         /*CAMPO MAIN*/

main{ 
    width: 940px;
    margin: 0 auto; /*Conteudo centralizado*/
}

form{
    margin: 40px 0; /*Margem externa topo e base 40px - esquerda e direita zero*/
}

form label, form legend{ /*LABEL e P são conteudo escrito, então ambos vão ter a mesma propriedade*/
    display: block; /*O LABEL = Etiqueta seja uma embaixo da outra*/
    font-size: 20px;
    margin-bottom: 10px ;
    
}

form legend{
    padding-top: 10px;
}


.input-padrao{  /*INPUT ESCRITA = TELA*/
    display: block; /*O INPUT = tela seja um embaixo do outro*/
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    caret-color: #4682B4; /*é a cor da barra que fica piscando até escrevermos dentro da tela*/
    outline: none; /*tirando o contorno do input=tela*/  
    border: 1px solid #34373b; 
}

input:focus, textarea:focus{
    border-color: #4682b4;
    box-shadow: 0 0 0 2px #e7f3ff;   /*sombra em volta do input=tela*/
    caret-color: #4682b4; /*é a cor da barra que fica piscando até escrevermos dentro da tela*/
}

input[placeholder]{ /*Aumenta a fonte do placeholder*/
    font-size: 16px;
} 

input::placeholder{ /*Ele deixa a frase dentro da tela INPUT mais clara*/
    color: #1d2129;
    opacity: 0.5;
}

textarea{
    resize: none;
    outline: none; /*tirando o contorno do input=tela*/
    border: 1px solid #34373b; 
}




.checkbox{  /*INPUT CHECKBOX = QUADRADO*/
    margin: 20px 0; 
}

.enviar{ /*Botão enviar*/
    width: 40%;
    padding: 15px 0;
    background: #4682B4;
    color: #ffffff;
    font-weight: bold; /*Peso da fonte negrito*/
    font-size: 18px;
    border: none; /*Sem borda*/
    border-radius: 5px;
    text-transform: uppercase; /*Fonte enviar em letra maiscula*/
    transition: 0.3s; /*O tempo de transição ao clicar no ENVIAR FORMULÁRIO trocar a cor background dele no .ENVIAR:HOVER*/
    cursor: pointer; /*Ao clicar no botão sempre ser mãozinha e não seta*/
}

.enviar:hover{
    background-color: #2d72aa;
}

table{
    margin: 20px 0 40px; /*Espaçamento externo de topo e base - ou seja entre o botão enviar e o footer*/
}

thead{
    background-color: #4682B4;
    color: #ffffff;
    font-weight: bold; /*Peso da fonte negrito*/
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px ;
    text-align: center;
}

 
                                                           /*CAMPO DO FOOTER*/
footer{
    text-align: center;
    background: url("./imagens/bg.jpg");
    padding: 40px 0; /*Espaçamento interno 40px topo e baixo - 0 esquerda e direita*/
}

footer p{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}



                                                           /*RESPONSIVO*/


@media (min-width: 320px) and (max-width: 768px) {
    /*css da página header*/
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    .caixa h1 {
        text-align: center;
    }

    .caixa img {
        width: 100px;
    }

    .caixa nav {
        position: static;
        text-align: center;
        margin-top: 15px;
    }

    .caixa nav a {
        font-size: 16px;
    } 
    
    

/*css da página main*/
form {        
    margin: 30px;
}

.input-padrao {
    
    width: 50%;

}

form label, form legend {
    font-size: 15px;        
}

.enviar {
    display: block;
    width: 50%;
    font-size: 16px;
}  

table {
    margin: 40px 40px 40px 150px;        
}
}