<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>

<body>
    <p><b><center> CADASTRO DE CASO</center></b></p>
    
    <p> Atenção: este formulário, é para fins educativos, de forma a permitir o 
        cumprimento dos requisitos da disciplina Projeto Integrador I, da UNIVESP.
    </p>

<form>
  <br> <!-- Quebra de linha -->
  <p><b> IDENTIFICAÇÃO </b></p>

  <label>Nome completo: </label> 
  <input type="text">
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>CPF: </label>
  <input type="text">
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>Sexo: </label>
  <select>
  <option value="Masculino"> Masculino</option>
  <option value="Feminino"> Feminino</option>
  </select>
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>Raça / cor: </label>
  <select>
  <option value="Branca"> Branca</option>
  <option value="Parda"> Parda</option>
  <option value="Preta"> Preta</option>
  <option value="Indigena"> Indígena</option>
  <option value="Amarela"> Amarela</option>
  </select>
  <br> <!-- Quebra de linha -->

  <br> <!-- Quebra de linha -->
  <p><b> ENDEREÇO </b></p>

  <label>Rua: </label> 
  <input type="text">
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>número: </label> 
  <input type="text">
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>Bairro: </label> 
  <input type="text">
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>Cidade: </label>
  <select>
  <option value="c1"> Dracena</option>
  <option value="c2"> Presidente Prudente</option>
  <option value="c3"> Presidente Venceslau</option>
  </select>
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <label>Endereço: </label> 
  <input type="text">
  <br> <!-- Quebra de linha -->
  
  <br> <!-- Quebra de linha -->
  <p><b> SINTOMAS </b></p>

  <label>Data dos primeiros sintomas: </label> 
  <input type="date"> 
  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->

  <fieldset>
    <legend>Apresenta os seguintes sintomas: </legend>
    <input type="checkbox" name="s1" id="s1" value="s1" /> <label for="s1">Febre</label><br />
    <input type="checkbox" name="s2" id="s2" value="s2" /> <label for="s2">Dores nas articulações</label><br />
    <input type="checkbox" name="s3" id="s3" value="s3" /> <label for="s3">Dor de cabeça </label><br />
    <input type="checkbox" name="s4" id="s4" value="s4" /> <label for="s3">Dor muscular </label><br />
    <input type="checkbox" name="s5" id="s5" value="s5" /> <label for="s3">Erupções cutâneas avermelhadas </label><br />
    <input type="checkbox" name="s6" id="s6" value="s6" /> <label for="s3">Coceira </label><br />
    <input type="checkbox" name="s7" id="s7" value="s7" /> <label for="s3">Conjutivite </label><br />
    <input type="checkbox" name="s8" id="s8" value="s8" /> <label for="s3">Dor nos olhos </label><br />
    <input type="checkbox" name="s9" id="s9" value="s9" /> <label for="s3">Outras </label><br />
  </fieldset>

  <br> <!-- Quebra de linha -->
  <center><button type="submit">Adicionar Registro</button></center>

  <br> <!-- Quebra de linha -->
  <br> <!-- Quebra de linha -->
</form>

</body>

</html>

