

                                                                     /*CAMPO DO HEADER*/

body{
    font-family: 'Sarala', sans-serif;

}

header{
    background-color: #d8d8d8;
    padding: 20px 0; /*espaçamento topo e baixo 20px - e zero para esquerda pra direira - pra que tudo dentro dele fica nesse limite n rela na margem*/
}

.caixa{
    position: relative; /*Para o menu esta dentro da caixa (consigo ver inspecionando) coloco position: relative*/
    width: 940px; /* Largura 940 a 1260 esta em uma boa margem de largura*/
    margin: 0 auto; /*Para a margem da esquerda esta igual da esquerda = centralizar*/
}

nav{
    position:absolute;  /*Eu consigo posicionar meu elemento em qualquer lugar da página*/
    top: 150px; /*A imagem tem 250px de altura pra deixar as palavra no meio vamos deixar uns 110*/
    right: 0;  /*Direita igual a zero*/
    
}

nav li{
    display: inline; 
    margin-right: 15px; /*Espaçamento externo a direita*/ /*Coloquei margin aqui inves de por no (nav a) porque la aumentaria o espaçamento do conteudo*/
}

nav a{
    text-transform: uppercase; /*As palavras em maiusculo*/
    color: #000000;
    font-weight: bold; /*Peso da fonte em negrito*/
    font-size: 22px;   /*Tamamho da fonte*/
    text-decoration: none; /*Tirar o sublinhado das palavras*/
 }

 nav a:hover{
    color: #4682B4;
    text-decoration: underline; /*Quando passo a mão em cima dos elementos ele fica com sublinhado embaixo*/ 
    cursor: pointer; /*deixar a mãozinha ao clicar ao invés de seta*/
}

                                                                                                   /*CAMPO DO MAIN*/
                                                                                        
 .produtos{
    width: 940px; /* Largura 940 a 1260 esta em uma boa margem de largura*/
    margin: 0 auto; /*Para a margem da esquerda esta igual da esquerda = centralizar*/
    padding: 50px 0; /*Espaçamento interno 50% pra cima e pra baixo - 0 esquerda e direita*/
}

 .produtos li{
    display: inline-block; /*Vai exibir a largura do tamanho dele, mas podemos modificar. E eles ficam um do lado do outro*/
    text-align: center;
    width: 30%; /*Cada elemento vai ter 30% de largura entre eles*/
    vertical-align: top; /*Alinhar verticalmente no topo os elementos*/
    margin: 0 1.5%; /*Espaçamento externo*/
    padding: 30px 20px;
    box-sizing: border-box; /*Para elemento não aumentar usamos box-sizing. */ /*é utilizada para alterar a propriedade padrão da box model, usada para calcular larguras (widths) e alturas (heights) dos elementos.*/
    border: 2px solid  #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); /*sombra em volta do formulário*/
}

.produtos li:hover{
    border-color:  #4682B4;
    cursor: pointer; /*deixar a mãozinha ao clicar ao invés de seta*/
}

.produtos li:active{ /*Quando fica precionado na imagem ele muda de outra cor*/
    border-color: #dadde1;
}

.produtos li:hover h2{ /*Significa quando meu mouse tiver nos produtos Li o H2 sofrerá uma ação*/
    font-size: 32px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold; /*Peso da fonte negrito*/
}

.produto-descricao{
    font-size: 18px;
}

.produto-preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}





                                                                                          
                                                                                                  /*CAMPO DO FOOTER*/

footer{
    text-align: center;
    background: url("./imagens/bg.jpg");
    padding: 40px 0; /*Espaçamento interno 40px topo e baixo - 0 esquerda e direita*/

    
}

footer p{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}



form legend{
    padding-top: 10px;
}


.input-padrao{  /*INPUT ESCRITA = TELA*/
    display: block; /*O INPUT = tela seja um embaixo do outro*/
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    caret-color: #4682B4; /*é a cor da barra que fica piscando até escrevermos dentro da tela*/
    outline: none; /*tirando o contorno do input=tela*/  
    border: 1px solid #34373b; 
}

input:focus, textarea:focus{
    border-color: #4682b4;
    box-shadow: 0 0 0 2px #e7f3ff;   /*sombra em volta do input=tela*/
    caret-color: #4682b4; /*é a cor da barra que fica piscando até escrevermos dentro da tela*/
}

input[placeholder]{ /*Aumenta a fonte do placeholder*/
    font-size: 16px;
} 

input::placeholder{ /*Ele deixa a frase dentro da tela INPUT mais clara*/
    color: #1d2129;
    opacity: 0.5;
}

textarea{
    resize: none;
    outline: none; /*tirando o contorno do input=tela*/
    border: 1px solid #34373b; 
}

.checkbox{  /*INPUT CHECKBOX = QUADRADO*/
    margin: 20px 0; 
}

.enviar{ /*Botão enviar*/
    width: 40%;
    padding: 15px 0;
    background: #4682B4;
    color: #ffffff;
    font-weight: bold; /*Peso da fonte negrito*/
    font-size: 18px;
    border: none; /*Sem borda*/
    border-radius: 5px;
    text-transform: uppercase; /*Fonte enviar em letra maiscula*/
    transition: 0.3s; /*O tempo de transição ao clicar no ENVIAR FORMULÁRIO trocar a cor background dele no .ENVIAR:HOVER*/
    cursor: pointer; /*Ao clicar no botão sempre ser mãozinha e não seta*/
}

.enviar:hover{
    background-color: #2d72aa;
}

table{
    margin: 20px 0 40px; /*Espaçamento externo de topo e base - ou seja entre o botão enviar e o footer*/
}

thead{
    background-color: #4682B4;
    color: #ffffff;
    font-weight: bold; /*Peso da fonte negrito*/
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px ;
}


.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background-color: #fefefe;
    width: 940px;
    margin: 0 auto;
}


.principal p{
    margin-bottom: 1em;
    font-size: 18px;
}


.principal strong{
    font-weight: bold; /*Peso da fonte sera negrito*/
}

.principal em{
    font-style: italic; /*Estilo da fonte italico*/
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*1em = 16px então tera 32px*/
    margin: 0 0  1em;
    clear: left; /*LIMPAR A ESQUERDA = Ele limpa o FLOAT então deixa alinhado imagem e conteudo*/
    font-weight: bold;
}

.utensilios{
    width: 160px;
    float: left; /*FLUTUA A ESQUERDA = Ele sai do topo do conteudo e fica flutuando esquerdo ao lado do conteudo*/
    margin: 0 20px 20px 0;
    box-shadow:  0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); /*sombra em volta do formulário*/

}

.mapa{
    padding: 3em 0; /*Espaçamento interno cima e baixo 3em*/
    background: linear-gradient( #fefefe, #888888); /*Linear-gradient = deixar o fundo degrade, pode por a inclinação do gradiente na primeira propriedade inclinar 45deg=45°*/ 
}

.mapa p{
    margin: 0 0 1em;
    text-align: center;
    font-size: 18px;
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.beneficios{
    padding: 3em 0;
    background-color: #888888;
}

.conteudo-beneficios{
    width: 700px;
    margin: 0 auto;
}

.lista-beneficios{
    display: inline-block; /*So colocando DISPLAY INLINE BLOG não deixara um do lado do outro, entao tem que ir HTML e deixar os elementos um ao lado do outro*/
    width: 200%;
    vertical-align: top; /*Deixar os elementos alinhado pela topo, porque ele vem pré configurado alinhar por baixo*/
}

.itens{
    line-height: 1.5; /*Altura da linha*/
    font-size: 20px;
}

.itens:first-child { /*Dois pontos chama Pseudo-elementos - FIRST-CHILD = Significa pegar de todos os irmãos o primeiro*/
    font-weight: bold; /*Colocando ITENS:NTH-CHILD(4) = ele ficara negrito o 4 elemento. Colocando ITENS:NTH-CHILD(2N) = Ficara negrito todos itens pares*/
} 

.img-beneficios{
    width: 60%;
    box-shadow:  0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); /*sombra em volta do formulário*/
}


.video{
    width: 560px; /*Largura do video 560px*/
    margin: 2em auto; /*Centralizar o video - e o 2EM deixa ele espaço do conteudo de cima e o de baixo*/ 
}

                                    /*PERGUNTAR AO NAVEGADOR QUAL O TAMANHO DA TELA*/

@media (min-width: 320px) and (max-width: 768px) {  /*Essas configurações ira mudar a tela quando ela for min 320px até no max de largura 768px*/
    .caixa,.principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    .caixa h1{
        text-align: center;
    }

    .caixa img{
        width: 100px;
    }

    .caixa nav{
        position: static; /*Nav esta posição absoluta no css, aqui no responsivo vai ser static e vai descer pra baixo*/ 
        text-align: center;
    }

    .caixa nav a{
        font-size: 16px;
    }

    .titulo-principal{
        font-size: 20px;
    }

    .principal {
        padding: 20px 10px 0;
    }

    .principal .utensilios {
        width: 80px;
    }

    .principal p, .mapa p {
        font-size: 13px;
    }


    .lista-beneficios,.img-beneficios{
        width: 100%;

    }

    .lista-beneficios {
        padding: 10px 10px 5px;
    }

    .lista-beneficios .itens {
        font-size: 13px;
        
    }

    /*css da página produtos*/
    .produtos {
         width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 15px;               
        }

    .produtos li {
        width: auto;
             }

.produtos h2, .produto-preco {
    font-size: 20px;
            }
 /*css da página contato*/
 form {        
    margin: 30px;
}

.input-padrao {
    width: 90%;
}

form label, form legend {
    font-size: 15px;        
}

.enviar {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
}  

table {
    margin: 40px auto;        
}
                     
}


                                   /*CONFIGURAÇÃO DE PALAVRAS/LETRAS*/

/*EX.1: .titulo-principal:first-letter { font-wight: bold;} -----Isso significa so a primeira letra de uma frase em negrito*/

/*EX.2: p::first-line {font-style: italic;} ---- Toda a primeira linha com a TAG P ira ser italico*/


                                         /*CONFIGURAÇÃO PARA ACRESCENTAR UM ICONE OU UM CARACTER*/

/*EX.3: .titulo-principal:before {content: "["} ------ Significa antes então meu titul-principal vai ter esse "[" */

/*EX.4: .titulo-principal:after {content: "]"} ------ Significa depois então meu titulo-principal vai ter esse "]"*/


                                      /*CONFIGURAÇÃO SELETORES AVANÇADOS*/

/*EX.5: Seletores avançados --- Com o sinal > (maior) podemos selecionar por exemplo um paragrafo especifico MAIN>P seleciona so o paragrafo P*/

/*EX.6: img + p {background: red;} ----- Com o sinal + (mais) Siginifica seleciona o primeiro paragrafo que vem apos a imagem*/

/*EX.7: img ~ p {background: red;} ----- Com o sinal de ~ (tiu) siginifica que ele vai selecionar todos os paragrafos p que se encontra após a imagem*/

/*EX.8: .principal p:not(#missao): {background: red;} ----Ele vai selecionar todos paragrafos exceto o id missao */

                                      /*CALCULOS COM CSS*/
/*EX.9: .utensilios:{ widrh:calc( 40% - 26px); Uma imagem com 376px e eu quero que vire 350}*/


                                     /*OPACIDADE NOS ELEMENTOS*/

/*EX.10: OPACIDADE VAI DE 0 A 100%*/

                                    /*SOMBRA NOS ELEMENTOS*/

/*EX.11: A propriedade da sombra é BOX-SHADOW*/

/*EX.12: text-shadow -- coloca sombra nos textos*/


                                    /*INSPECIONAR UM ELEMENTO MODO VIEWPORT*/

/*EX.13: Aperta CTRL + SHIFIT + I*/

/*EX.9:*/

/*EX.9:*/